;; shadow-cljs configuration
{:source-paths ["test"]

 :dependencies [[org.clojure/core.async "0.4.474"]
                [funcool/promesa "3.0.0"]
                [check "0.1.0-SNAPSHOT"]]

 :socket-repl {:port 3333}
 :builds {:tests {:target :node-library
                  :compiler-options {:infer-externs :auto}
                  :exports {:activate chlorine.tests/activate}
                  :output-to "lib/main.js"
                  :devtools {:after-load chlorine.tests/after}}}}
