{:source-paths ["src" "repl-tooling/src" "repl-tooling/test"
                "repl-tooling/resources"]

 :dependencies [[check "0.2.0-SNAPSHOT"]
                [com.cognitect/transit-cljs "0.8.264"]
                [funcool/promesa "6.0.0"]
                [paprika "0.1.3-SNAPSHOT"]
                [borkdude/sci "0.1.1-alpha.7"]
                [compliment "0.4.0-SNAPSHOT"]
                [reagent "0.10.0"]
                [devcards "0.2.5"]
                [org.rksm/suitable "0.3.2"]
                [cider/orchard "0.5.8"]
                [com.wsscode/pathom "2.3.1"]
                [org.pinkgorilla/gorilla-renderable-ui "0.1.33"]
                [link.szabo.mauricio/duck-repled "0.1.1-SNAPSHOT"]]

 :jvm-opts ["-Xmx800M"]
 :builds
 {:dev {:target :node-library
        :js-options {:js-provider :shadow
                     :keep-native-requires true
                     :keep-as-require #{"atom"}}

        :dev {:closure-defines {chlorine.aux/TESTS true
                                com.wsscode.pathom.misc.INCLUDE_SPECS false}}
        :compiler-options {:warnings {:fn-deprecated false}
                           :external-config
                           {:devtools/config
                            {:features-to-install [:formatters :hints]
                             :fn-symbol "F"
                             :print-config-overrides true}}}
        :exports {:config chlorine.core/config
                  :commands chlorine.core/commands
                  :aux chlorine.core/aux
                  :repl chlorine.repl/exports

                  :everything-provider
                  chlorine.providers-consumers.everything/activate

                  :autocomplete-provider
                  chlorine.providers-consumers.autocomplete/provider

                  :status-bar-consumer
                  chlorine.providers-consumers.status-bar/activate}

        :output-dir "lib/js"
        :output-to "lib/cmds.js"
        :devtools {:before-load-async chlorine.core/before
                   :after-load chlorine.core/after}}}}
