atom-text-editor {
  .selection .region, :host .selection .region {
    background-color: rgba(100, 100, 100, 0.7);
  }

  .clojure-watch-expr {
    .region { border-bottom: 1px red dotted; }
    &.watch .region { background-color: rgba(0, 200, 100, 0.3); }
  }

  .clojure-sexp .region {
    background-color: rgba(255, 255, 255, 0.15);
  }
}

div.ink.error {
  a { color: #cc0000; }
  .fade { color: #999999; }
}

status-bar div.clojure-plus {
  font-style: italic;
}
